.user-name {
  font-weight: bold;
}

.message-text {
  margin-left: 10px;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.name-change-hint {
  font-size: 10px;
  color: green;
}
