.left-nav {
  padding: 0 30px;
}

::-webkit-input-placeholder {
  color: lightgray;
  font-size: 12px;
}

.display-name-container {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 20px;
}

.display-name-header {
  font-weight: bold;
}

.display-name-line {
  cursor: pointer;
}

.clickable {
  cursor: pointer;
}

.display-name {
  margin-right: 10px;
}

.pencil-hover {
  visibility: hidden;
}

.display-name-line:hover .pencil-hover {
  visibility: visible;
}

.name-error {
  font-size: 12px;
  color: red;
  margin-left: 5px;
}

.hint {
  font-size: 12px;
}

.copy-text {
  color: green;
  font-size: 10px;
  padding-left: 10px;
}

.user-list {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 3px 5px;
  margin-bottom: 20px;
}

.user-list-title {
  font-weight: bold;
  padding-bottom: 3px;
}

.user-list__user {
  padding: 2px;
  display: flex;
  align-items: center;
}

.bullet-container {
  height: 100%;
}

.active-bullet {
  height: 7px;
  width: 7px;
  margin-right: 2px;
  border: 1px solid lightgray;
  border-radius: 50%;
  background-color: #5fdba7;
  display: inline-block;
  vertical-align: middle;
}
